.release, .fill {
  padding: 2em 2em;
  width: 100%;
  // text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.players {
  width: 100%;
  // text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.fill {
  padding-top: 0;
  img {
    display: block;
    margin: 2em auto;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
  }
}
.release {
  .artist {
    letter-spacing: -0.02em;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }
  .title {
    letter-spacing: -0.04em;
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
    margin: 0;
  }
}

.error {
  font-size: 24pt;
  width: 50%;
  margin: 8em auto 0;
  h1 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 16pt;
  }
  p {
    opacity: 0.3;
    font-size: 0.8em;
    margin: 0;
    &.err {
      font-size: 0.6em;
    }
  }
  a {
    margin-top: 1em;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    outline: none;
    i {
      vertical-align: middle;
      padding-right: 1ex;
      font-size: 1em;
    }
  }
}